# Files configured (generated) by CMake
./Entix/Source/Entix/Core/Base.h.in

# Build files
[Bb]uild/
[Oo]ut/

# Clangd LSP cache
.cache/

# Visual Studio files
.vs/

# TAGS file
TAGS

# .env file
.env